.new-island-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px
}

.new-island-container form {
  width: 100%;
  max-width: 450px;
}

.new-island-container form input,
.new-island-container form select {
  margin-top: 8px;
  margin-bottom: 12px;
}

.new-island-container form input,
.new-island-container form select {
  width: 100%;
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}

.new-island-container form label {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #795d2c;
}

